<section class="page-section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">¿Que es MusicIQ?</h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="container video-responsive">
            <h2 class="text-white mt-0">Video Infomrativo</h2>
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/RYjS8ddOi1U" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <br>
        <div class="container">
            <h2 class="text-white mt-0">Presentación</h2>
            <iframe
                src="https://onedrive.live.com/embed?resid=A56A1FF7BDAC2A64%2115587&amp;authkey=%21ACeVB0CP75aJ2-U&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaa=0"
                width="100%" height="400" frameborder="0">
            </iframe>
        </div>
        <div class="container">
            <a class="btn btn-primary"
                href="https://drive.google.com/uc?id=1tKgMKKA1zAgXD3ATSpLt686zmkKaTONk&export=download">
                <i class="fa fa-download"></i> Descargar presentación</a>
        </div>
    </div>
</section>