<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div>
                <img class="img-fluid" src="https://i.ibb.co/HDZ4Ss5/home.png" alt="home" rounded mx-auto d-block
                    style="width: 400px;">
            </div>
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold" id="titulo1">Music IQ</h1>
                <hr class="divider my-4" />
                <h3 class="text-white" id="titulo2">Practice your self</h3>
            </div>
            <div class="col-lg-8 text-center">
                <a class="btn btn-light btn-xl" routerLink="About">Comenzamos.....</a>
            </div>
        </div>
    </div>
</header>