<section class="page-section" id="documentos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Documentos</h2>
                <hr class="divider my-4" />
                <p class="text-white-50 mb-4">Aqui encontraras acceso a todos los documentos realizados para este
                    proyecto</p>
            </div>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Estudio de mercado
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <section class="page-section" id="portfolio">
                            <div class="container-fluid p-0">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-lg-3 col-sm-5">
                                        <a class="portfolio-box"
                                            href="https://docs.google.com/forms/d/e/1FAIpQLSfQOV5dWUDGxwURdX7dqbiW5bPjW9ULU9G8QlEShaVSuSwEkg/viewform"
                                            target="_blank"><img class="img-fluid"
                                                src="https://i.ibb.co/CPg5MF5/Encuentas.jpg" alt="encuesta" />
                                            <div class="portfolio-box-caption">
                                                <div class="project-category text-white-50">Encuesta</div>
                                                <div class="project-name">Realizar encuesta</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-5">
                                        <a class="portfolio-box" href="#collapseExample" data-toggle="collapse"
                                            aria-expanded="false" aria-controls="collapseExample" role="button"><img
                                                class="img-fluid" src="https://i.ibb.co/PMCbVZz/36978940-m-300x230.jpg"
                                                alt="encuesta" />
                                            <div class="portfolio-box-caption">
                                                <div class="project-category text-white-50">Documento</div>
                                                <div class="project-name">Ver análisis de resultados</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <iframe src="https://drive.google.com/file/d/1XFwptJGufCW6kTaRAkNyZeaA5Qy2QcYW/preview"
                                    height="480"></iframe>
                                <br>
                                <div class="container">
                                    <a class="btn btn-primary"
                                        href="https://drive.google.com/u/0/uc?id=1nWriC8Gs_8l35MC-z2u8AIT6wzhWKf8E&export=download">
                                        <i class="fa fa-download"></i> Descargar PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                        probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                        probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>