<section class="page-section" id="documentos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Documentos</h2>
                <hr class="divider my-4" />
                <p class="text-white-50 mb-4">Aqui encontraras acceso a todos los documentos realizados para este
                    proyecto</p>
            </div>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Estudio de mercado
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <section class="page-section" id="portfolio">
                            <div class="container-fluid p-0">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-lg-3 col-sm-5">
                                        <a class="portfolio-box"
                                            href="https://docs.google.com/forms/d/e/1FAIpQLSfQOV5dWUDGxwURdX7dqbiW5bPjW9ULU9G8QlEShaVSuSwEkg/viewform"
                                            target="_blank"><img class="img-fluid"
                                                src="https://i.ibb.co/CPg5MF5/Encuentas.jpg" alt="encuesta" />
                                            <div class="portfolio-box-caption">
                                                <div class="project-category text-white-50">Encuesta</div>
                                                <div class="project-name">Realizar encuesta</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-sm-5">
                                        <a class="portfolio-box" href="#collapseExample" data-toggle="collapse"
                                            aria-expanded="false" aria-controls="collapseExample" role="button"><img
                                                class="img-fluid" src="https://i.ibb.co/PMCbVZz/36978940-m-300x230.jpg"
                                                alt="encuesta" />
                                            <div class="portfolio-box-caption">
                                                <div class="project-category text-white-50">Documento</div>
                                                <div class="project-name">Ver análisis de resultados</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <iframe
                                    src="https://onedrive.live.com/embed?cid=A56A1FF7BDAC2A64&resid=A56A1FF7BDAC2A64%2115586&authkey=ABrela3Lyo8Avx4&em=2"
                                    height="400px" frameborder="0"></iframe>
                                <br>
                                <div class="container">
                                    <a class="btn btn-primary"
                                        href="https://drive.google.com/u/0/uc?id=1nWriC8Gs_8l35MC-z2u8AIT6wzhWKf8E&export=download">
                                        <i class="fa fa-download"></i> Descargar Resultados</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Investigación
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <section class="page-section" id="portfolio">
                            <div class="container-fluid p-0">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-lg-3 col-sm-5">
                                        <a class="portfolio-box" href="#collapseExample1" data-toggle="collapse"
                                            aria-expanded="false" aria-controls="collapseExample" role="button"><img
                                                class="img-fluid" src="https://i.ibb.co/V99jhmZ/investigaci-n.jpg"
                                                alt="Investigación" />
                                            <div class="portfolio-box-caption">
                                                <div class="project-category text-white-50">Documento</div>
                                                <div class="project-name">Ver Investigación</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                <iframe
                                    src="https://onedrive.live.com/embed?cid=A56A1FF7BDAC2A64&resid=A56A1FF7BDAC2A64%2115589&authkey=AG46oxPgiXumil0&em=2"
                                    width="100%" height="500" frameborder="0" scrolling="no"></iframe>
                                <br>
                                <div class="container">
                                    <a class="btn btn-primary"
                                        href="https://drive.google.com/uc?id=1apMz-PdZ6r3-KRaQQLbTbJ2YG6_ipB11&export=download">
                                        <i class="fa fa-download"></i> Descargar investigación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>